.icon-blank{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/blank.gif') no-repeat center center;
}
.icon-add{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/pencil.png') no-repeat center center;
}
.icon-clear{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/clear.png') no-repeat center center;
}
.icon-remove{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/filesave.png') no-repeat center center;
}
.icon-cut{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/cut.png') no-repeat center center;
}
.icon-ok{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/ok.png') no-repeat center center;
}
.icon-no{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/no.png') no-repeat center center;
}
.icon-cancel{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/cancel.png') no-repeat center center;
}
.icon-reload{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/reload.png') no-repeat center center;
}
.icon-search{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/search.png') no-repeat center center;
}
.icon-print{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/print.png') no-repeat center center;
}
.icon-help{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/help.png') no-repeat center center;
}
.icon-undo{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/undo.png') no-repeat center center;
}
.icon-redo{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/redo.png') no-repeat center center;
}
.icon-back{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/back.png') no-repeat center center;
}
.icon-sum{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/sum.png') no-repeat center center;
}
.icon-tip{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/tip.png') no-repeat center center;
}
.icon-filter{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/filter.png') no-repeat center center;
}
.icon-man{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/man.png') no-repeat center center;
}
.icon-lock{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/lock.png') no-repeat center center;
}
.icon-more{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/more.png') no-repeat center center;
}


.icon-mini-add{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
    background:url('modules/Settings/LayoutEditor/models/solicitud/icons/large_chart.png') no-repeat center center;
}
